.home {
    padding: 7ch;
    z-index: 2;
}

.home__container {
    width: inherit;
    height: 100%;
    min-height: 205vh;
    background-color: var(--color-bg2);
    margin-left: 5ch;
    border-radius: 15px;
    padding: 20px;  
    gap: 15px;
}

.homeCard__contentImage {
    border-radius: 15px;
}

.home__containerCategories {
    width: inherit;
    height: 100%;
}


.home__containerVideos {
    margin-top: 15px;
    width: 100% ;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 10px));
    grid-template-rows: repeat(10, minmax(24ch, 1px));
    gap: 20px;
    justify-content: center;
}


.homeCard {
    width: 290px;
    height: 23ch;
}

.homeCard > video {
    z-index: 99999999;
}

.homeCard__content:hover {
    z-index: 9999999;
    transform: scale(1.2);
    transition-delay: 1s;
}

.homeCard__content {
    display: grid;
    justify-content: center;
    align-items: center;
}
.homeCard__contentImage {
    z-index: 0;
}

.homeCard__contentInfo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeCard__contentInfoText {
    margin-left: 10px;
    width: 220px;
}

.homeCard__contentInfoTextTitle {
        font-size: 16px;
        font-weight: 600;
        color: var(--color-text);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}

.homeCard__contentInfoTextDescription {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 500;
        color: var(--color-text2);
        display: flex;
        align-items: center;
}

.homeCard__contentInfoTextDescriptionStats {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}

@media screen and (max-width: 875px) {
    .home {
        padding: 1ch;
    }

    .home__container {
        margin-top: 5ch;
        margin-left: 5ch;
        border-radius: 0px 15px 15px 0px;
        grid-template-columns: repeat(1, 1fr);
    }
}